body{
    background-color: #505050;
    font-family: Verdana;
    color: white;
}
a, a:visited{
    color: red;
}
.selection{
    background-color: #505050;
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}
.body{
    background-color: #505050;
    font-family: Verdana;
    color: white;
}
#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.button1 {
    display: block;
    text-align: center;
    width: 200px;
    margin: 10px auto;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}