#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.button1 {
    display: block;
    text-align: center;
    width: 200px;
    margin: 10px auto;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
body {
    background-color: rgb(226, 228, 231);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.button1:hover{
    background-color: white;
    cursor: pointer;
}
nav{
    width: 240px;
}

.selection{
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}