<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Atualiza de Filme</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
    
        <h1 id="logo ">Atualiza cadastro => Cinema de Cultura</h1>
        <form id="updatForm" th:object="${filme}">
            <p>Titulo: <input type="text" th:field="*{titulo}"/> </p>
            <p>Sinopse: <input type="text" th:field="*{sinopse}"/> </p>
            <p>Genero: <input type="text" th:field="*{genero}"/> </p>
            <p>Ano de lançamento: <input type="text" th:field="*{anoLancamento}"/> </p>
            <p><button type="button" onclick="atualizarFilme([[${filme.id]])">Atualiza</button> </p>
        </form>
        
        <p><a th:href="@{/listador}">Lista</a></p>
        <p><a th:href="@{/}">Pagina inicial</a></p>
    
         <script th:src="@{/js/script.js}"></script>
    </body>
</html>