<!DOCTYPE html>

<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cinema Cultural</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sistema do Cinema Cultural</h1>
        
        <nav>
            <a th:href="@{/inicio}">Inicio</a> |
            <a th:href="@{/cadastro}">Cadastrar novo filme</a> |
            <a th:href="@{/listador}">Lista de filmes cadastrados</a> |
        </nav>
    </body>
</html>
